<div class='card-layout' [class.force-start]="cards.length > 6"
    [@cardAnimation]="cards.length" *ngIf="cards.length > 0">
    <div *ngFor="let card of cards; let i = index" class="single-card">
        <doc-card 
            (click)="playCard(card, i)"
            [card]='card'
            [roundType]="roundType"
            [ngClass]="{
                'cursor-pointer': canPlayCard(card),
                'cursor-denied': !canPlayCard(card)
            }"  
        ></doc-card>
    </div>
</div>        

