:host {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card {
  height: 150px;
  width: 100%;
  line-height: 150px;
  padding: 0;
}

.card-name {
  text-align: center;
  font-size: 50px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.suit-image {
  position: absolute;
  height: 20px;
  width: 20px;
  background-position: center center;
  background-size: 20px;

  &.top-left {
    top: 10px;
    left: 10px;
  }

  &.bottom-right {
    right: 10px;
    bottom: 10px;
    transform: rotate(180deg);
  }
}
.first-round-card {
  margin-right: 25px;
  .first-round-img {
    width: 50px;
    height: 50px;
    border-radius: 10rem;
    border: 2px solid white;
    position: absolute;
    right: -25px;
    top: -25px;
    z-index: 100;
  }
}

