<div class="user-card">
    <div class="card-head">
        <img src="../../../assets/user-icons/soma.png"/>
        <h4 class="user-name">Soma</h4>
    </div>
    <div class="current-bets-container">
        <div class="head">
            <div class="bet">Bets</div>
            <div class="hits">Hits</div>
        </div>
        <div class="values">
            <div class="bet">5</div>
            <div class="hits">3</div>
        </div>
    </div>
    <div class="status-container">
        STATUS
    </div>
</div>
