.user-card {
    height: 17vh;

    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    .card-head {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 1.5rem;
        border-radius: 10rem;
        background: white;
        img {
            width: 50px;
            height: 50px;
            border-radius: 10rem;
            margin-right: .5rem;
        }
        .user-name {
            font-size: 22px;
            margin: 0;
        }
    }
    .current-bets-container {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
        margin-bottom: .5rem;
        .head .bet, .head .hits {
            font-size: 20px;
        }
        .head, .values {
            display: flex;
        }
        .bet, .hits {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 2rem;
            font-size: 25px;
        }
        .bet {
            border-right: 1px solid black;;
        }
        .hits {
            border-left: 1px solid black;;
        }
    }
    .status-container {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: green;
        color: white;
    }
}