<div class="user-card">
    <div class="card-head">
        <img [src]="iconSrc"/>
        <h4 class="user-name">{{ name }}</h4>
    </div>
    <div class="current-bets-container">
        <div class="head">
            <div class="bet">Bets</div>
            <div class="hits">Hits</div>
        </div>
        <div class="values">
            <div class="bet">{{ bets.bet }}</div>
            <div class="hits">{{ bets.hits }}</div>
        </div>
    </div>
    <div class="status-container">
        {{ status }}
    </div>
</div>
