<div class="container">
    <mat-toolbar color="primary" class="toolbar">
        <span class="title-center">Live Game</span>
        <div class="score-board" (click)="toggleScorePanel()">
            <h5 for="score-panel-toggle">Scoreboard</h5>
            <button id="score-panel-toggle">
                <img src="../../../assets/icons/menu.png"/>
            </button>
        </div>
    </mat-toolbar>
    <div class="game-container">
        <div class="mid-section">
            <asr-round-pile></asr-round-pile>
        </div>
        <div class="user-action-container">
            <!-- Info strip -->
            <mat-toolbar color="primary" class="toolbar info-strip">
                <img src="../../../assets/icons/info.png"/>
                <h6 class="info-text">
                    It is your turn
                </h6>
            </mat-toolbar>
            <!-- Deck of Cards come here  -->
            <div class="cards-container">
                <doc-cards></doc-cards>
            </div>
        </div>
    </div>
</div>