.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .content-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        .toolbar {
            height: 8vh;
            .title-center {
                margin: 0 auto;
            }
        }
        .score-board {
            width: 15vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            button {
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        mat-card {
            font-family: AdventPro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
            mat-card-title {
                font-size: 3rem;
            }
            mat-card-subtitle {
                font-size: 1.4rem;
            }
        }
    
        .game-container {
            height: 100vh;
            background-image: url('../../../assets/background/game-bg.jpeg');
            background-size: cover;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .user-status-container {
                height: 20vh;
                width: 100%;
                overflow-x: auto;
                display: flex;
                asr-user-card {
                    max-width: 300px;
                    flex-grow: 1;
                    flex-basis: 0;
                }
            }
            .user-action-container {
                width: 100vw;
                height: 30vh;
                display: flex;
                
                .cards-container {
                    position: absolute;
                    overflow-x: auto;
                    width: 100%;
                    height: 25vh;
                    bottom: 8vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    white-space: nowrap;
                }
                .info-strip {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    max-height: 8vh;
                    background: #1A1B1F;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 30px;
                        margin-right: 1rem;
                    }
                }
            }
            .mid-section {
                top: 50%;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                .scoreboard-panel-container {
                    width: 30vw;
                    position: absolute;
                    right: 0;
                    .icon-container {
                        background: #E0E0E0;
                        border-left: 3px solid black;
                        box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        padding: .25rem;
                        cursor: pointer;
                        img {
                            width: 35px;
                        }
                    }
                    .data-container {
                        width: 100%;
                        background: #E0E0E0;
                        padding: .5rem;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        .scoreboard-table {
                            text-align: center;
                            width: 100%;
            
                            thead {
                                border-bottom: 1px solid black;
                            }
                        }
                        .bottom-cont {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .round-container, .trump-container {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            .suit-image {
                                height: 20px;
                                width: 20px;
                                background-position: center center;
                                background-size: 20px;
                            }
                            doc-card {
                                max-width: 100px;
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.round-start {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/background/loading-bg.jpg');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0;
        color: white;
        font-size: 50px;
        font-family: 'Raleway', Helvetica, sans-serif; 
    }
}
.modal {
    background: #CECECE;
}