<div class="round-start" *ngIf="!isAnimationDone">
    <h1 [@RoundInitAnim]="animTrigger">
        ROUND {{ currentRound }}
    </h1>
</div>
<ng-sidebar-container class="container" *ngIf="isAnimationDone">
    <ng-sidebar class="sidebar-scoreboard ng-sidebar--left" 
        [(opened)]="scoreboardToggle"
        [position]="'left'"
        [dock]="true"
        dockedSize="100px">
        <asr-betting-modal [options]="this.bettingOptions" (betMade)="handleBet($event)"></asr-betting-modal>
        <div class="data-strip">
            <div class="header">{{ roundData.me.username }} {{ getMyStatus() }}</div>
            <div class="your-bets">Bets: {{ roundData.me.bets.bet }}</div>
            <div class="your-hits">Hits: {{ roundData.me.bets.hits }}</div>
            <div class="rotation"></div>
        </div>
    </ng-sidebar>
    <div class="content-container" ng-sidebar-content>
        <div class="game-container">
            <div class="user-status-container">
                    <asr-user-card *ngFor="let usercard of (roundData.players | correctPlayerOrder : roundData.me.seatInd  )"
                        [name]="usercard.username"
                        [bets]="usercard.bets"
                        [status]="usercard.status"
                        [role]="getUserRole(usercard)"
                        [iconTitle]="usercard.iconTitle"
                    ></asr-user-card>
            </div>
            <div class="mid-section">
                <asr-round-pile [trump]="trumpoCard" [cardOnTop]="cardOnTop" [pileReset]="resetPile" *ngIf="trumpoCard && cardOnTop"></asr-round-pile>
                <div class="scoreboard-panel-container">
                    <div class="data-container">
                        <table class="scoreboard-table">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ranked-player" *ngFor="let player of rankedPlayers | orderByPoints; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ player.name }}</td>
                                    <td>{{ player.points }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="bottom-cont">
                            <div class="trump-container">
                                <h4>Trump</h4>
                                <doc-card [card]="trumpoCard" [roundType]="'normal'"></doc-card>
                            </div>
                            <div class="round-container">
                                <h4>Round</h4>
                                <div class="">{{ currentRound }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-action-container">
                <!-- Info strip -->
                <mat-toolbar color="primary" class="toolbar info-strip">
                    <img src="../../../assets/icons/info.png"/>
                    <h6 class="info-text">
                        {{ userInfo }}
                    </h6>
                </mat-toolbar>
                <!-- Deck of Cards come here  -->
                <div class="cards-container" *ngIf="!this.isLoading">
                    <asr-user-hand 
                        [cards]="currentHand"
                        [base]="baseCard"
                        [trump]="trumpoCard"
                        [roundType]="roundType"
                        [canPlay]="canPlay" 
                        (justPlayed)="justPlayedCard($event)"   
                    ></asr-user-hand>
                </div>
            </div>
        </div>
    </div>
</ng-sidebar-container>
