.soz-gotta-wait-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    flex-direction: column;
    font-size: 25px;
    img {
        width: 100vw;
    }
}