<div class="modal-container" *ngIf="!isLoading">
    <div class="title-strip">
        {{showEndResult ? 'Last' : 'First'}} round results
    </div>
    <doc-cards [winnerId]="winnerId" [cards]="cardsToDisplay" [roundPoints]="roundPoints"></doc-cards>
    <div class="scoreboard-container">
        <div class="result-tile" *ngFor="let playa of rankedPlayers | orderByPoints; let i = index" [ngClass]="{
                'first-place': i === 0,
                'second-place': i === 1,
                'third-place': i === 2
            }">
            <div class="rank">{{ i }}</div>
            <div class="name">{{ playa.name }}</div>
            <div class="points">{{ playa.points }}</div>
        </div>
    </div>
    <ng-container *ngIf="showEndResult">
        <div class="end-options">
            <button mat-button (click)="quit()" [disabled]="!isHost">
                Quit
            </button>
            <button mat-button (click)="samePlayers()" [disabled]="!isHost">
                New game with same players
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="!showEndResult">
        <button mat-button (click)="startNextRound()" [disabled]="!isHost">
            {{ getButtonText() }}
        </button>
    </ng-container>
</div>