.modal-container {
    padding: 2rem;;
    min-width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-strip {
        font-size: 35px;
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
    }
    button {
        height: 3rem;;
        font-size: 35px;
        font-weight: 100;
        font-family: sans-serif;
        background: #4051B6;
        border: 1px solid white;
        color: white;
    }
}
