<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>Angular + Socket.io Rikiki</mat-toolbar-row>
  </mat-toolbar>
  <div class="menu-container">
    <mat-card class="menu-card">
      <div class="title-strip">
        <mat-card-title>Menu</mat-card-title>
        <mat-card-subtitle>Join the room to play!</mat-card-subtitle>  
      </div>
      <!-- <svg>
        <path d="M17,233 C6,333 407,191 491,221" />
      </svg> -->
      <mat-card-actions class="action-container">
        <button mat-button class="action-button">Join!</button>
      </mat-card-actions>
      <mat-card-footer class="menu-footer">
        <div class="unique-id">
          {{ uniqueId }}
        </div>
        <div class="player-in-room">
          <div class="user-icon">
            <img src="../assets/icons/user-icon.png"/>
          </div>
          <label>5</label>
        </div>
      </mat-card-footer>
    </mat-card>  
  </div>
</div>