<div class="container">
  <mat-toolbar color="primary">
      <span class="title-center">Angular + Socket.io Rikiki</span>
  </mat-toolbar>
  <div class="menu-container">
    <mat-card class="menu-card">
      <div class="title-strip">
        <mat-card-title>Menu</mat-card-title>
        <mat-card-subtitle>Join the room to play!</mat-card-subtitle>  
      </div>
      <mat-card-actions class="action-container">
        <mat-form-field class="">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Noobmaster69" [(ngModel)]="player.username" autocomplete="off">
        </mat-form-field>
        <button mat-button class="action-button" (click)="joinGame()" [disabled]="!player.username">Join!</button>
      </mat-card-actions>
      <mat-card-footer class="menu-footer">
        <div class="unique-id">
          Username: {{ player.username ? '@' + player.username : '' }}
        </div>
        <div class="player-in-room">
          <ng-container *ngIf="isServerOn">
            <div class="user-icon">
              <img src="../assets/icons/user-icon.png"/>
            </div>
            <label>{{ landingData.numOfPlayers }}</label>
          </ng-container>
          <ng-container *ngIf="!isServerOn">
            <label>Waiting for server...</label>
          </ng-container>
        </div>
      </mat-card-footer>
    </mat-card>  
  </div>
</div>