.mat-card {
  margin: 20px;

  .mat-card-content {
    margin: 0;
  }

  .mat-card-actions {
    margin: 0;
  }
}


.filtering-option-card {
  height: 75px;
}

.mat-form-field,
.mat-slider {
  width: 100%;
}

.slider-range {
  line-height: 48px;
  text-align: center;
}

.suit-image {
  height: 20px;
  width: 20px;
  background-position: center center;
  background-size: 20px;
  margin-left: 10px;
}
