.mat-card {
  margin: 20px;
}


.filtering-option-card {
  height: 100px;
}

.mat-form-field, .mat-slider {
  width: 100%;
}

.slider-range {
 line-height: 48px;  
 text-align: center; 
}

.suit-image {
  height: 20px;
  width: 20px;
  background-position: center center;
  background-size: 20px;
  margin-left: 10px;
}
