<div fxLayout='' fxLayoutGap="30px" class='card-layout' [class.force-start]="cards.length > 6"
  [@cardAnimation]="cards.length">
  <div *ngFor="let card of cards; let i = index" fxFlex="90px" >
    <div class="first" *ngIf="isResult" >{{ getHeader(card, i)}}</div>
    <doc-card 
      (click)="emitCard(card, i)"
      [card]='card'
      [isFirstRound]="isFirstRound"
      [ngClass]="{
        'cursor-pointer': canPlay && canPlayCard(card),
        'cursor-denied': !canPlay
      }"  
    ></doc-card>
    <div class="points" *ngIf="roundPoints.length > 0">{{ getPoint(card) }}</div>
  </div>
</div>
